$navbar-height: 56px;

.body-content {
  margin-top: $navbar-height;
}
.lightblue {
  color: lightblue;
}
.red {
  color: red;
}
.faded {
    opacity: 0.2;
}
.faded:hover {
    opacity: 0.5;
}

section {
  margin: 0;
}

.demo-content {
  padding-top: $navbar-height;
}

.github-button-container {
  display: flex;
  align-items: center;
}