<nav class="navbar navbar-expand-md bg-light fixed-top">
  <a class="navbar-brand ms-2" href="https://github.com/ghiscoding/angular-markdown-editor">
    <i class="fa fa-github"></i>
    <span>{{title}}</span>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="github-button-container mx-1">
        <span>
          <a href="https://github.com/ghiscoding/angular-markdown-editor">
            <img src="https://img.shields.io/github/stars/ghiscoding/angular-markdown-editor?style=social">
          </a>
        </span>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/reactive-editor']">
            <i class="fa fa-lg fa-exchange"></i> Reactive Form Demo
        </a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/template-editor']">
            <i class="fa fa-lg fa-list-ul"></i> Template Form Demo
        </a>
    </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="demo-content">
    <router-outlet></router-outlet>
  </div>
</div>